<ion-content [fullscreen]="true">
  <header class="ion-padding header">
    <h1 class="">Hola, ¿Cómo estás?</h1>
    <h2 class="">¡Tenemos todas las aventuras!</h2>
    <ion-searchbar (ionInput)="onSearch($event)" />
  </header>

  <main>
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col size="12" *ngFor="let tour of filteredTours">
          <ion-card style="margin: 0">
            <ion-img [src]="tour.image" />
            <ion-card-header>
              <ion-card-title>{{ tour.name }}</ion-card-title>
              <ion-card-subtitle>{{ tour.tourDate | date}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p>{{ tour.description }}</p>
            </ion-card-content>

            <ion-button
              (click)="selectTourToShow(tour)"
              id="show-details-tour-modal"
              fill="clear">
              Ver más
            </ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </main>

  <ion-modal
    #modal
    trigger="show-details-tour-modal"
    [presentingElement]="null">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Detalle del tour</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-text color="primary">
          <h1>{{tourToShowInModal!.name}}</h1>
        </ion-text>

        <ion-text color="medium">
          <h4>Descripción</h4>
        </ion-text>
        <p>{{tourToShowInModal!.description}}</p>

        <ion-text color="medium">
          <h4>Qué harás</h4>
        </ion-text>
        <p>{{tourToShowInModal!.whatYouDo}}</p>

        <ion-text color="medium">
          <h4>Calificación</h4>
        </ion-text>
        <span>
          <ion-icon color="warning" name="star" />
          {{tourToShowInModal!.review}}
        </span>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
