<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Descartar" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Editar perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <form [formGroup]="profileForm" class="ion-padding" novalidate>
      <p>Ingrese todos los datos a continuación:</p>

      <ion-item lines="full">
        <ion-label position="floating">Username</ion-label>
        <ion-input
          formControlName="userName"
          type="text"
          fill="solid"
          aria-label="userName"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Nombres y apellidos</ion-label>
        <ion-input
          formControlName="fullName"
          type="text"
          fill="solid"
          aria-label="fullName"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="stacked">Fecha de nacimiento</ion-label>
        <ion-datetime-button class="pb-3" datetime="birthDate-datetime" />

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime formControlName="birthDate" id="birthDate-datetime" />
          </ng-template>
        </ion-modal>
      </ion-item>

      <ion-item lines="full">
        <ion-select
          label="Permisos"
          labelPlacement="floating"
          aria-label="Permisos"
          multiple="true"
          cancelText="Cancelar"
          okText="Aceptar"
          formControlName="permissions">
          <ion-select-option
            *ngFor="let permission of permissions"
            [value]="permission">
            {{permission}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="full">
        <ion-textarea
          formControlName="description"
          label="Descripción"
          labelPlacement="floating"
          fill="solid"
          placeholder="Escribe una descripción larga sobre ti, tus gustos, pasatiempos y deseos." />
      </ion-item>

      <div>
        <ion-button (click)="submit()" expand="block">Guardar</ion-button>
      </div>
    </form>

    <ion-fab class="ion-padding" id="show-information" horizontal="right">
      <ion-fab-button color="secondary">
        <ion-icon name="information-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
  <ion-popover trigger="show-information" triggerAction="click">
    <ng-template>
      <ion-content class="ion-padding"
        >Debes llenar todos los campos para avanzar.</ion-content
      >
    </ng-template>
  </ion-popover>
</ion-content>
